{{#with footer}}
<footer
  id="footer"
  class="footer"
>
  <div class="container row">
    <div class="row col-12">
      <div class="row col-3 col-sm-12 footer__first-row">
        <div class="row col-12 col-sm-10">
          <img
            src="/src/images/logo_white.svg"
            alt=""
            class="footer-logo col-5 col-sm-3"
          >
        </div>
        <div class="d-sm-flex col-12 col-sm-2 _justify-content-end">
          <a href="" class="footer__social-link">{{> icon-inst}}</a>
          <a href="" class="footer__social-link">{{> icon-fb}}</a>
        </div>
      </div>
      <div class="col-5 col-sm-4">
        <ul class="footer-links _first">
          {{#each clientLinks}}
          <li class="footer-link">
            <a href="{{this.link}}">{{this.text}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-4 col-sm-8">
        <ul class="footer-links">
          {{#each serviceLinks}}
          <li class="footer-link">
            <a href="{{this.link}}">{{this.text}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <hr class="footer-divider col-12">
    <div class="row d-sm-flex _no-gap column-sm-reverse col-12">
      <div
        class="col-6 col-sm-12 footer__message _copy-right"
      >{{copyRight}}</div>
      <hr
        class="footer-divider _mobile col-sm-12"
      >
      <div
        class="col-6 col-sm-12 footer__message _address"
      >{{address}}</div>
    </div>
  </div>
</footer>
{{/with}}
