{{#with hero}}
<section
  id="hero"
  class="hero"
>
  <div
    id="hero-gallery"
    class="hero-gallery swiper-container"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-gallery__slide" style="background-image:url('/src/images/hero_background.jpg')">
        <div class="overlay">
          <div class="row container">
            <h1 class="col-12 hero__title section__heading">{{ title }}<span>ДО 25 ИЮНЯ</span></h1>
            <div class="row col-12 _align-self-end">
              <div class="col-4 col-sm-12">
                <ul class="sub-messages">
                  {{#each subMessageList}}
                  <li class="sub-messages__item">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="col-3 col-xs-6 col-sm-3">
                <button
                  id="hero-action"
                  class="hero__action-button"
                >ЗАКАЗАТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-gallery__slide" style="background-image:url('/src/images/hero_background.jpg')">
        <div class="overlay">
          <div class="row container">
            <h1 class="col-12 hero__title section__heading">{{ title }}<span>ДО 25 ИЮНЯ</span></h1>
            <div class="row col-12 _align-self-end">
              <div class="col-4 col-sm-12">
                <ul class="sub-messages">
                  {{#each subMessageList}}
                  <li class="sub-messages__item">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="col-3 col-xs-6 col-sm-3">
                <button
                  id="hero-action"
                  class="hero__action-button"
                >ЗАКАЗАТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-gallery__slide" style="background-image:url('/src/images/hero_background.jpg')">
        <div class="overlay">
          <div class="row container">
            <h1 class="col-12 hero__title section__heading">{{ title }}<span>ДО 25 ИЮНЯ</span></h1>
            <div class="row col-12 _align-self-end">
              <div class="col-4 col-sm-12">
                <ul class="sub-messages">
                  {{#each subMessageList}}
                  <li class="sub-messages__item">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="col-3 col-xs-6 col-sm-3">
                <button
                  id="hero-action"
                  class="hero__action-button"
                >ЗАКАЗАТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-gallery__slide" style="background-image:url('/src/images/hero_background.jpg')">
        <div class="overlay">
          <div class="row container">
            <h1 class="col-12 hero__title section__heading">{{ title }}<span>ДО 25 ИЮНЯ</span></h1>
            <div class="row col-12 _align-self-end">
              <div class="col-4 col-sm-12">
                <ul class="sub-messages">
                  {{#each subMessageList}}
                  <li class="sub-messages__item">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="col-3 col-xs-6 col-sm-3">
                <button
                  id="hero-action"
                  class="hero__action-button"
                >ЗАКАЗАТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination hero-gallery__pagination"></div>
</section>
{{/with}}
