{{#with services}}
{{#each list}}
<section class="services section">
  <div class="container">
    <div class="row services__information">
      <div class="col-6 col-sm-12">
        <h4 class="services__title">{{this.title}}</h4>
        <p class="services__description">{{this.description}}</p>
      </div>
      <div class="col-6 col-sm-12">
        <img
          src="/src/images/service-{{math @index "+" 1}}.png"
          alt=""
          class="services__image"
        >
      </div>
    </div>

    {{#if this.items.length}}
    <ul class="services-list row">
      {{#each this.items}}
      <li class="services-list__item col-6 col-sm-12">
        <h5 class="services-list__item-title">{{this.title.main}} <span>{{this.title.additional}}</span></h5>
        <a href="" class="tooltip-container{{#if_even @index}} _left{{/if_even}}">
          <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.757 7.447H9.205V6.035h1.552v1.412zm-1.552.699h1.552V14H9.205V8.146z" fill="#000"/><circle cx="10" cy="10" r="8.5" stroke="#83C8D2" stroke-width="3"/></svg>
          <div class="tooltip">
            <h6>{{this.title.main}}</h6>
            <p>{{this.tooltip}}</p>
          </div>
        </a>
      </li>
      {{/each}}
    </ul>
    {{/if}}

    <a
      href="/functional.html"
      class="section__action-button"
    >Начать тренировку</a>
  </div>
</section>
{{/each}}
{{/with}}
