{{#with trainers}}
<section
  id="trainers"
  class="trainers _with-filter"
>
  <div class="container">
    <h2 class="trainers__title section__heading">
      Тренеры <span>секции</span>
    </h2>

    <ul class="options-list">
      {{#each options}}
      <li class="options-item">
        <input
          type="checkbox"
          name="options"
          id="{{this.value}}"
          value="{{this.value}}"
          class="options-item__checkbox"
        >
        <label
          for="{{this.value}}"
          class="options-item__label"
        >
          <span>{{this.text}}</span>
        </label>
      </li>
      {{/each}}
    </ul>

    <div class="trainers-list-controls">
      <button
        data-target="#trainer-list"
        data-direction="left"
        class="trainers-list-controls__button _left"
      >
        <svg width="42" height="24" xmlns="http://www.w3.org/2000/svg"><path opacity=".5" d="M.94 10.94a1.5 1.5 0 000 2.12l9.545 9.547a1.5 1.5 0 102.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 10-2.122-2.122L.94 10.94zM42 10.5H2v3h40v-3z" fill="#000" /></svg>
      </button>
      <button
        data-target="#trainer-list"
        data-direction="right"
        class="trainers-list-controls__button _right"
      >
        <svg width="42" height="24" xmlns="http://www.w3.org/2000/svg"><path opacity=".5" d="M.94 10.94a1.5 1.5 0 000 2.12l9.545 9.547a1.5 1.5 0 102.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 10-2.122-2.122L.94 10.94zM42 10.5H2v3h40v-3z" fill="#000" /></svg>
      </button>
    </div>

    <ul
      id="trainer-list"
      class="trainers-list row"
    >
      {{#each list}}
      <li class="col-4 col-xs-12 col-sm-6 trainer-item">
        <img
          src="{{this.photo}}"
          alt="{{this.name}}"
          class="trainer-item__avatar"
        >
        <h5 class="trainer-item__name">{{this.name}}</h5>
        <ul class="trainer-item__skills">
          {{#each this.skills}}
          <li class="trainer-item__skills-item">{{this}}</li>
          {{/each}}
        </ul>
        <a
          href="/{{this.schedule}}.html"
          class="trainer-item__schedule"
        >РАСПИСАНИЕ →</a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
{{/with}}
